.b-search-options {

    position: relative;

    display: inline-block;
    zoom: 1;

    width: 400px;

    user-select: none;
    vertical-align: middle;

    font-size: 13px;
    font-family: 'Lato', sans-serif;
}

.b-search-options_state_open {
    z-index: 11;
}

