.b-popup
{
  position: absolute;
  top: 100%;
  margin:2px 0 0;
  min-width:100%;
  overflow: hidden;

  transition: width 350ms cubic-bezier(.23, .5, .32, 1), height 350ms cubic-bezier(.23, .5, .32, 1), left 350ms cubic-bezier(.23, .5, .32, 1), top 350ms cubic-bezier(.23, .5, .32, 1), opacity 350ms cubic-bezier(.23, .5, .32, 1);

  opacity: 1;
  border: 1px solid rgb(170, 170, 170);
  background: #fff;
  box-shadow: rgba(0, 0, 0, .298039) 0 2px 2px;
}

.b-search-options__list{
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}

.b-search-options__list_item{
margin: 0;
position: relative;
display: block;
padding: 4px 8px;
font-weight: normal;
color: #333;
white-space: nowrap;
}

.b-search-options__list_item:hover {
  background: rgba(142, 200, 249, 0.2);
}