.b-search-options__popup{
  top: 100%;
  left: 0;
  margin: 2px 0 0;
  min-width: 100%;
  overflow: hidden;
  border: 1px solid #397FD7;
  background: #fff;
  box-shadow: #397FD7 0 2px 2px;
}


.b-search-options__list {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}

.b-search-options__list_item {
  margin: 0;
  position: relative;
  display: block;
  font-weight: normal;
  color: #333;
  white-space: nowrap;
}

.b-search-options__list_item--selected,
.b-search-options__list_item:hover {
  background: rgba(142, 200, 249, 0.2);
}
