
.b-shown-options {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: auto !important;
  margin: 0;
  padding: 0;
  cursor: text;
  border: 1px solid #cecece;
}

.b-search-options_state_open .b-shown-options {
  border-color: #397FD7;
  box-shadow: #397FD7 0 0 5px;
}

.b-shown-options_state_positive,
.b-shown-options_state_negative {
  position: relative;
  padding: 0 0 0 18px;
}

    .b-shown-options_state_positive:after,
    .b-shown-options_state_negative:after {
  position: absolute;
  left: 2px;
  top: 1px;
    }

    .b-shown-options_state_positive:after {
  content: url(../images/add.png);
    }

    .b-shown-options_state_negative:after {
  content: url(../images/sub.png);
        top: 6px;
    }

.b-shown-option {
  float: left;
  list-style: none;
}

.b-shown-option_type_input {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.b-shown-option_type_item {
  position: relative;
  margin: 3px 0 3px 5px;
  padding: 5px 20px 4px 5px;
  cursor: default;
  color: #fff;
  border-radius: 10px;
  background: #397FD7;
  background-clip: padding-box;
  line-height: 13px;
}

.b-shown-option__input {
  height: 28px;
  padding: 5px;
  color: #333;
  border: 0 !important;
  border-radius: 0;
  outline: 0;
  background: transparent !important;
  box-shadow: none;
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  line-height: normal;
}

.b-shown-option__remove {
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  width: 12px;
  height: 12px;
  cursor: pointer;
  background: url(../images/round_cross.png);
}

    .b-shown-option__remove:hover {
  /*background-position: -42px -10px;*/
    }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
  .b-shown-option__remove {
    background: url(../images/round_cross@2x.png);
    background-size: 12px 12px !important;
  }
}
